body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #001435;
	padding-top: 80px;
}
main {
	width: 100%;
	padding: 20px;
	margin-left: 237px;
}

a, a:hover {
	text-decoration: none;
}
/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  width: 237px;
  background: #001435;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link, .navbar-collapse .collapse-menu>.nav-item>.nav-link {
	border-radius: 0;
	line-height: 32px;
	font-size: 16px;
	color: #FFFFFF;
	padding: 16px 20px;
}

.navbar-collapse .collapse-menu>.nav-item>.nav-link {
	padding: 10px 0;
}

.navbar-collapse .sub-menu .nav-link{
	display: inline;
	line-height: 33px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	padding: 0;
}

.sidebar .nav-link.active {
	background: #0B2248;
	cursor: default;
}

.username {
	text-align: left;
    color: white;
    font-size: 20px;
    padding: 18px 0 18px 18px;
}

.username span {
	line-height: 25px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.56);
    display: block;
}


.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.bg-inverse {
	background: #0B2248;
	padding: 0;
}

.bg-inverse .collapse, .collapsing {
	width: 100%;
    position: absolute;
    top: 0;
    background: #0B2248;
}


.toggle-menu{
	width: 237px;
}

.toggle-menu button{
	margin: 8px;
    border: none;
    outline: none;
}

.navbar-toggler-icon{
	background-image: url(../img/menu-options.svg);
	background-size: auto;
}

#navbarsCollapse .toggle-menu button, #navbarsCollapse .toggle-menu-close button{
	margin: 21px 8px 0;
}

#navbarsCollapse .toggle-menu{
	width: 138px;
}

#navbarsCollapse ul.collapse-menu > li{
	margin-top: 40px;
}

#navbarsCollapse ul.collapse-menu > li:nth-child(2), #navbarsCollapse ul.collapse-menu > li:nth-child(3){
	width: 230px;
}
#navbarsCollapse ul.collapse-menu > li:nth-child(4){
	width: 370px;
}

#navbarsCollapse ul.collapse-menu > li:nth-child(2){
	min-width: 140px;
}

#navbarsCollapse ul.collapse-menu > li:nth-child(3){
	min-width: 105px;
}

#navbarsCollapse ul.collapse-menu > li:nth-child(4){
	min-width: 320px;
}

#navbarsCollapse ul.collapse-menu > li:nth-child(5){
	min-width: 135px;
}

#navbarsCollapse .navbar-toggler-icon{
	background-image: url(../img/menu-options-collapse.svg);
}

#navbarsCollapse .float-right .navbar-toggler-icon{
	background-image: url(../img/menu-options-close.svg);
}

#navbarsCollapse .nav-exit{
	margin-top: 80px;
    margin-bottom: 40px;
}

.logo {
	display: flex;
    align-items: center;
	width: 237px;
    height: 80px;
    background: #001435;
    border-radius: 0px 0px 0px 300px;
}

.logo img {
	margin: 20px 20px auto auto;
}

.topbar-sep{
    width: 1px;
    margin: 0 5px;
    border-left: 1px solid #0069BF;
}

.navbar > .navbar-nav .nav-item{
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 16px 20px;
    border-left: 1px solid #1A3768;
}

.navbar > .navbar-nav .nav-item span:first-child {
	display: block;
}

.navbar .navbar-nav .nav-item span {
	color: #0069BF;
}



.bg-inverse .nav-item .nav-link .badge {
	width: 16px;
    height: 16px;
    position: absolute;
    margin-top: -20px;
    margin-left: 40px;
    background: #FFFFFF;
    color: #001435;
    font-size: 10px;
    line-height: 16px;
    font-weight: normal;
    padding: 0;
}

.dropdown .notification{
	width: 48px;
    height: 48px;
	background: #001435;
    border-radius: 10rem;
}

.icon-bell{
	width: 28px;
	height: 28px;
	margin: auto;
	background-image: url(../img/notification.svg);
}

.sidebar .nav-item .nav-link span, .navbar-collapse .nav-item .nav-link span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
    margin-right: 20px;
    background-repeat: no-repeat;
}

.navbar-collapse .nav-item .nav-link span {
    margin-right: 8px;
}

.sidebar .clock{
	color: #FFFFFF;
}

.sidebar .rate{
	background: #0B2248;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.64);
	padding: 10px 20px 20px;
    margin-bottom: 40px;
}

.sidebar .clock .clock-date, .sidebar .clock .clock-time {
	background: #0B2248;
	margin-bottom: 1px;
}

.sidebar .clock .clock-date{
	width: 156px;
}

.sidebar .clock .clock-time{
	width: 80px;
    height: 80px;
    font-size: 22px;
    margin-left: 1px;
}

.sidebar .clock .clock-date time span {
	display: block;
	font-size: 12px;
}

.icon-calendar{
	width: 24px;
	height: 24px;
	background-image: url(../img/calendar.svg);
	margin: 28px 20px;
}

.sidebar .rate span:first-child {
	display: block;
	margin-bottom: 8px;
}

.sidebar .rate .dollar, .sidebar .rate .euro{
	font-size: 16px;
	color: #0069BF;
}

.arrow-down, .arrow-up{
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-left: 2px;
}
.arrow-down{
	background-image: url(../img/arrow-down.svg);
	margin-bottom: -4px;
}

.arrow-up{
	background-image: url(../img/arrow-up.svg);
	margin-bottom: 8px;
}

.icon-briefcase{
	background-image: url(../img/briefcase.svg);
}

.icon-chart{
	background-image: url(../img/chart.svg);
}

.icon-service{
	background-image: url(../img/service.svg);
}

.icon-contacs{
	background-image: url(../img/contacs.svg);
}

.icon-exit{
	background-image: url(../img/exit.svg);
}

.icon-profile{
	background-image: url(../img/profile.svg);
}

.dropdown-menu, .dropdown-header{
	font-size: 14px;
	color: #001435;
}

.dropdown-menu a {
	line-height: 25px;
	font-size: 12px;
	color: #0069BF;
}

.bg-inverse .navbar-nav .dropdown-menu{
	position: absolute;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 5px 15px;
}

.bg-inverse .navbar-nav .dropdown-menu .dropdown-header{
	padding: 10px 5px;
}



@media (max-width: 576px){
	.sidebar {
	    position: unset;
	}
}